@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin super-flex($display: flex, $items: center, $content: space-between) {
  display: $display;
  align-items: $items;
  justify-content: $content;
}