.convenience {
  padding: 134px 0;
  background-color: #aea38b;
}

.convenience__inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.convenience__title {
  margin: 0;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

@include media(576px) {
  .convenience {
    padding: 95px 0;
  }

  .convenience__title {
    font-size: 20px;
    line-height: 150%;
    text-align: left;
  }
}