.header {
    padding: 22px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.burger-btn {
    display: none;
    background: transparent;
}

.logo__link {
    display: inline-block;
}

.logo{
    display: inline-block;
}

.nav{
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 58px;
}

.nav__item+.nav__item {
    margin-left: 50px;
}

.nav__link {
    padding-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #424242;
    transition: all .3s ease;


    &:hover{
        border-bottom: 1px solid  #D8B152;
    }
}

.nav__link--portfolio{
    color: #424242 !important;
}

@media only screen  and(max-width:768px){

        .logo, .logo-dark{
            width: 150px;
            height: 100px;
        }

        .nav__list{
            margin-left: 35px;
        }

        .nav__item + .nav__item{
            margin-left: 28px;
        }

        .nav__link{
            font-size: 15px;
        }
}


@media only screen and (max-width:576px) {
    .burger-btn{
        display: block;
        margin-left: auto;
        border: none;
    }

    .nav{
        display: none;
    }
}   